body {
  font-family: Arial, sans-serif;
}

#game {
  position: relative;
  width: 100vw;
  height: 100vh;
  border: none;
  overflow: hidden;
  background: #f5f5f5;
}


#player {
  width: 35px;
  height: 35px;
  background: black;
  position: absolute;
  bottom: 0;
  left: 50px;
  border-radius: 5px;
}

#block {
  width: 40px;
  height: 40px;
  background: gray;
  position: absolute;
  top: 200px;
  left: 400px;
}


.hidden {
  display: none;
}
